# Node
node_modules/
dist/

# System
.DS_Store
.env
*.log

# VitePress
.vitepress/cache/
.vitepress/dist/
.vitepress/temp/
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/temp/

# VSCode
.vscode/

# Turbo cache
.turbo/
